<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Token App </h2>


  <button type="button" (click)="generateToken()"  class="col-lg-2 btn btn-primary">Generate Token</button>
  <button type="button" (click)="validToken()" class="col-lg-2 btn btn-success">Valid Token</button>
  <button type="button" (click)="validTokenForAnotherAPI()"  class="col-lg-2 btn btn-info">Valid Token Differennt App</button>
  <!-- <button type="button" class="col-lg-2 btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>       -->
</div>

</body>
</html>
